@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="portfolio-body">
    <div class="top-grid">
        <div class="card c-edu">
            <h3>Education</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum dolore harum molestias quae. Eaque.</p>
        </div>
        <div class="card c-ski">
            <h3>Skills</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam nihil voluptate sapiente laudantium.
            </p>
        </div>
        <div class="card c-exp">
            <h3>Experience</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus vitae consectetur excepturi deserunt.</p>
        </div>
    </div>
    <div class="hobbies">
        <h3>Hobbies</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, iusto sint? Obcaecati tempore sunt eos.
        </p>
    </div>
    <div class="bottom-grid">
        <div class="card c-exp">
            <h3>Contact</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora.</p>
        </div>
        <div class="card c-edu">
            <h3>Profile</h3>
            <a href="https://script.google.com/macros/s/AKfycbyyibh7LIwXsZvFeV2paoA87wdTXx8RPwnM43BwRotmWjLRsC1fPYd-cvIIQO8OfgeV/exec"
                   target="_blank">
                <img src="asset/profile.jpg" alt="Profile">
            </a>
           
        </div>
    </div>
</div>