@page
@model PrivacyModel
@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="body-info">
    <div class="body-head">
        <h1>About Rami</h1>
        <span>@Model.full_name</span>
        <span>@Model.job_Title</span>
    </div>
    <div class="card-grid">
        <div class="card-box">
            <div class="box-left">
                <div class="col-top">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate inventore velit accusantium
                        totam nobis debitis numquam quia?</p>
                    </div>
                    <div class="col-bottom">
                        
                    </div>
                </div>
            <div class="box-center">
                <div class="col-top">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate inventore velit accusantium
                        totam nobis debitis numquam quia?</p>
                    </div>
                    <div class="col-bottom">

                    </div>
                </div>
            <div class="box-right">
                <div class="col-top">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate inventore velit accusantium
                        totam nobis debitis numquam quia?</p>
                    </div>
                    <div class="col-bottom">

                    </div>
                </div>
            </div>
        </div>
    </div>